<h3>Add Doctor</h3>

<form (ngSubmit)="addDoctor(newDoctorName);">
    <div class="form-group">
      <label for="doctorName">Doctor Name</label>
      <input class="form-control" id="doctorName" aria-describedby="emailHelp" type="text" [(ngModel)]="newDoctorName" placeholder="Doctor Name" name="name">
      <small class="form-text text-muted">The name of the doctor.</small>
    </div>
    
    <select class="form-control form-control" [(ngModel)]="selectedClinicId" name="clinics">
        
        <option *ngFor="let option of clinics" [value]="option.id">{{ option.name }}</option>
    </select>
    
    <br/>
    <br/>
    <button class="btn btn-dark" type="submit">Add Doctor</button>

    <br/>
    <br/>
  </form>
  