<h3>Login!</h3>

<form (ngSubmit)="login();" class="col-6">
    <div class="form-group">
      <input class="form-control" id="patientName" aria-describedby="emailHelp" type="text" [(ngModel)]="username" placeholder="Username" name="name">
    </div>
    <br/>
    
    <div class="form-group">
      <input class="form-control" id="userName" aria-describedby="emailHelp" type="password" [(ngModel)]="password" placeholder="Password" name="name">
    </div>
    
    
    <br/>
    <br/>
    
    <p *ngIf="wrongPwd" class="text-danger">Wrong username or password!</p>
    <button class="btn btn-dark" type="submit">Login</button>

    <br/>
    <br/>
  </form>
  