<h3>Register!</h3>

<form (ngSubmit)="addPatient();">
    <div class="form-group">
      <label for="patientName">Patient Name</label>
      <input class="form-control" id="patientName" aria-describedby="emailHelp" type="text" [(ngModel)]="newPatientName" placeholder="Patient Name" name="name">
    </div>

    <div class="form-group">
        <label for="userName">Patient Name</label>
        <input class="form-control" id="userName" aria-describedby="emailHelp" type="text" [(ngModel)]="newPatientUsername" placeholder="Patient Username" name="name">
    </div>

    <div class="form-group">
        <label for="userName">Patient Password</label>
        <input class="form-control" id="userName" aria-describedby="emailHelp" type="password" [(ngModel)]="newPatientPassword" placeholder="Patient Password" name="name">
    </div>

      
    <br/>
    <br/>
    
    <button class="btn btn-dark" type="submit">Register</button>

    <br/>
    <br/>
  </form>
  